@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  color: #464646;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  padding-inline: 20px;
}

.h-container {
  width: 20%;
}

.h-img {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.container-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-text-center {
  text-align: center;
  flex-direction: column;
  align-self: center;
  gap: 12px;
}

.container-text-start {
  box-sizing: border-box;
  text-align: start;
  flex-direction: column;
  align-self: start;
  width: 100%;
}
.container-btn {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.txt {
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.thin {
  font-weight: 400;
}

.light {
  color: #f4f4f4;
}

.text-min {
  font-size: 12px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.important {
  background: rgba(244, 110, 134, 0.6);
}
.low {
  background: #73c897;
}

@media screen and (min-width: 600px) {
  body {
    gap: 32px;
  }

  .h-img {
    width: 40%;
  }

  .container-text {
    width: 50%;
  }

  .container-icon {
    align-items: center;
    gap: 12px;
  }

  .container-btn {
    align-content: center;
    column-gap: 12px;
  }

  .txt {
    padding: 10px;
  }

  .title {
    width: 100%;
    font-size: 20px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    gap: 0px;
  }

  .h-img {
    width: 20%;
  }
  .title {
    font-size: 30px;
  }
}
